<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.19" targetFramework="net462" />
  <package id="AWSSDK.S3" version="3.3.16" targetFramework="net462" />
  <package id="AWSSDK.SQS" version="3.3.3.2" targetFramework="net462" />
  <package id="Iesi.Collections" version="4.0.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net462" />
  <package id="NServiceBus" version="7.0.1" targetFramework="net462" />
  <package id="NServiceBus.AmazonSQS" version="4.1.0" targetFramework="net462" />
  <package id="NServiceBus.Metrics" version="3.0.0" targetFramework="net461" />
  <package id="NServiceBus.Metrics.PerformanceCounters" version="3.0.0" targetFramework="net461" />
  <package id="NServiceBus.Metrics.PerformanceCounters.MsBuild" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="NServiceBus.Newtonsoft.Json" version="2.1.0" targetFramework="net462" />
  <package id="NServiceBus.NHibernate" version="8.0.0" targetFramework="net462" />
  <package id="NServiceBus.SqlServer" version="4.0.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net462" />
</packages>